.jumbotron{
    width: 70%;
    margin: auto 20%;
    margin-bottom: 20px;
    border-radius: 25px;

}

.issues_title{
    text-align: center;
}

.issue_list {
    margin-top: -39px;
   text-align: center;
}

.subcomment{
  text-align: left;
    margin-top: 40px;
    margin-top: -40px;
}

.subcomment_name{
  text-align: left;
    margin-top: 10px;
}