{% extends 'hackathon_app/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
{# <div class="jumbotron">#}
{#    <div class="row">#}
{#        <div class="col-xs-12 col-sm-10">#}
            <h2 class=" issues_title">Issues</h2>
            {% for issue in issue_list %}
                <div class="jumbotron container-fluid">
                <i class="fa fa-issue fa-4x text-right"></i>
                    <div class="row">
                        <div class="col-xs-12 col-sm-10">



                                <h2 class="issue_list text-left">
                                    {{ issue_set.name }}
                                </h2>








                        </div>
                    </div>

                </div>
            {% endfor %}


        <div class="col-xs-12 col-sm-2"></div>

{% endblock %}
